/* Estilos para el componente Nav */
.Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 46, 46, 0.87);
  color: aliceblue;
  padding: 1%;
  width: 100vw;
}

.NavContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
}

/* Agregamos la regla para ordenar el elemento con clase .sort primero */
.sort {
  order: 1;
}

.CreateActivity {
  background-color: #3cf43679;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  width: 130px;
  order: 3; /* Acomodamos el botón "Create Activity" en tercer lugar */
}

.CreateActivity:hover {
  background-color: #1f791c;
}

.CreateActivity:focus {
  outline: none;
}

.busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  order: 5; /* Acomodamos el componente SearchBar en quinto lugar */
}

.countrySort {
  margin-top: 15px;
  /* width: 50%; */
  order: 2; /* Acomodamos el componente CountrySort en segundo lugar */
}

.filtros {
  background-color: #ffffff09;
  color: #000000;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 8px;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.filtros:hover {
  background-color: #00000030;
}

.filtros > * {
  margin-bottom: 4px;
  margin-top: 4px;
}

/* Estilos para dimensiones menores a 700px */
@media screen and (max-width: 700px) {
  .NavContainer {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .CreateActivity {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .reset {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .busqueda {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Estilos para dimensiones mayores a 700px y menores a 1220px */
@media screen and (min-width: 701px) and (max-width: 1220px) {
  .NavContainer {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .filtros {
    margin-bottom: 1rem;
  }

  .updateDelete {
    display: flex;
  }

  .updateDelete > * {
    margin-right: 10px;
  }
}

/* Estilos para dimensiones mayores o iguales a 1220px */
@media screen and (min-width: 1220px) {
  .NavContainer {
    flex-direction: row;
    justify-content: flex-start;
  }

  .filtros {
    margin-bottom: 1rem;
  }

  .updateDelete {
    display: flex;
    order: 4;
  }

  .updateDelete > * {
    margin-right: 10px;
  }
}

@media screen and (min-width: 855px) {
  .NavContainer {
    padding: 0 2%;
    justify-content: space-evenly;
  }
}
